@font-face {
     font-family: 'Iranian Sans';
     src: local('☺'),
     local('Iranian Sans'),
     url('../fonts/iransans.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}
#background > div > div > div > div.panel-body > form input,
#background button,
#background a.btn,
#background  button,
#background li.dropdown.open *
 {
	color:#333;
}
@media (max-width:767px){
	#background div li.dropdown.open *
	{
		color:#f5f5f5;
		
	}
	#background li.dropdown.open a span.badge,
	#background div .dropdown-menu>.active>a,
	#background div #bs-example-navbar-collapse-1 > ul > li.dropdown.open > ul > li.active > a > span
	{
		color:#333;
	}
}
#background li.dropdown.open a span.badge,
#background #bs-example-navbar-collapse-1 > ul > li.dropdown.open > ul > li.active > a > span,
#background .dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover
{
	color:#f5f5f5;
}
#background > div > div:nth-child(1) > div > div.panel-heading,
#background > div > div:nth-child(1) > div,
#background > nav,
#background .table-striped>tbody>tr:nth-of-type(odd),
#background div.alert 
{
	background-color: rgba(30,0,0,0.6);
}
body{
	background-color: #000;

	}
#background *{
color:#ddd;
}
body *{
	font-family:'Iranian Sans',"Helvetica Neue",Helvetica,Arial,sans-serif
}
div#background{
	width:100%;
	min-height:100vw;
	background-image: url('/images/background.jpg');
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

body > div.container > div > div > div.panel-body > div > table > tbody > tr > td
{
	font-size:18px;
	padding:10px 16px;
}

body div.container div.col-sm-offset-2 div.panel div.panel-body div.col-sm-8 div.btn-group div.btn-group button	
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}